.mini-cart-header{
  background-color: white;
    color: var(--color-body-text);
  }
.mini-cart-header .modal-header .close{
    position: relative;
    top:0;
    right:0;
}
.mini-cart-header .js-cart-count{
    position: static;
    border:none;
}
.js-mini-cart-content{
  background-color: white;
  flex-grow:1;
  overflow-x: hidden;
  overflow-y: auto;
}
.js-mini-cart-content .mini-cart-image{
  flex: 0 0 104px;
  padding-right: 24px;
}
.js-mini-cart-content .mini-cart-meta{
  flex: 0 0 calc(100% - 104px);
  padding-right: 0px;
}
.mini-cart-meta p{
  font-size: 14px;
}
.mini-cart-item{
  position: relative;
}
.js-remove-mini-cart{
    font-weight: normal;
    margin-left:16px;
    font-size: 12px;
}
.mini-cart-empty .iconcart-empty{
  background-color: rgba(var(--color-body-text-rgb),0.05);
  width: 80px;
  height: 80px;
  line-height: 78px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 24px auto;
}
.mini-cart-footer{
position: relative;
background-color: white;
}
.js-note-cart{
  position: absolute;
  background-color: white;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: visibility .25s ease-in-out,opacity .25s ease-in-out,transform .25s ease-in-out;
  padding: 48px 24px;
  left: -24px;
  right: -24px;
  bottom:-24px;
  box-shadow: 0 -8px 8px rgb(0 0 0 / 10%);
}
.drawer-crossell .product-card__price{
  margin-bottom: 1rem;
}


@media only screen and (min-width: 992px){
  .drawer-crossell{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 22rem;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    opacity: 0;
    transform: translate(3rem);
    transition-property: transform,opacity;
    transition-timing-function: ease;
    border-inline-end: 1px solid rgb(var(--color-border));
  }
  .cardraw.active .drawer-crossell{
    transform: translateX(calc(-100%));
    opacity: 1;
    transition-delay: .25s;
    transition-duration:0.4s;
  }
}
.drawer-crossell-product .drawer-crossell__item .first-image{
  transform: none !important;
}
@media (max-width:991px){
  .drawer-crossell-product {
    overflow-x: scroll;
  }
  .drawer-crossell-product .drawer-crossell__item{
    flex:0 0 260px;
    width: 260px;
    padding-right: 1rem; 
  }
}
@media (max-width:749px){
  .drawer-crossell-product .drawer-crossell__item{
  flex:0 0 260px;
  width: 260px;
  }
}
.drawer-crossell__item .product-card{
  display: flex;
  width: 100%;
  background-color: transparent;
  border:none;
  align-items: start;
}
.drawer-crossell__item .product-card__image-wr{
  flex: 0 0 80px;
}
.drawer-crossell__item .product-card__info{
  flex: 1;
  padding: 0 0 0 1.5rem !important;
  margin-bottom: 1rem;
  background-color: transparent;
}
.drawer-crossell__item .product-card__name{
  margin-bottom: 0.5rem;
  font-size: var(--g-font-size);
  letter-spacing: 0;
  font-family: var(--g-font-2);
  text-transform: inherit;
}
.drawer-crossell .slick-dots{
  bottom: -1.5rem;
  z-index: 10;
}

.boxgift{
  display: block;
  position: absolute;
  bottom: -24px;
  left: -24px;
  right: -24px;
  z-index: 100;
  background: white;
  text-align: center;
  padding: 40px;
  min-height: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: visibility .25s ease-in-out,opacity .25s ease-in-out,transform .25s ease-in-out;
  box-shadow: 0 -8px 8px rgb(0 0 0 / 10%);
}
.block-addon__box--wrap{
  display: block;
  position: absolute;
  bottom: -24px;
  left: -24px;
  right: -24px;
  z-index: 100;
  background: white;
  text-align: center;
  padding: 40px;
  min-height: 220px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: visibility .25s ease-in-out,opacity .25s ease-in-out,transform .25s ease-in-out;
  box-shadow: 0 -8px 8px rgb(0 0 0 / 10%);
}
.block-addon__box--wrap .form-group label{
  font-weight:var(--g-font-weight-body);
  line-height:var(--g-body-lineheight);
}
.block-addon__box--wrap.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  cursor: auto;
}
.js-cart-bottom label{ 
  font-weight:400;
  color:var(--g-color-heading);
  font-family: var(--g-font-2);
}
.js-cart-bottom .form-control{
  border-radius: var(--g-input-radius);
  background: var(--g-input-bg);
  border: 1px solid var(--g-input-border);
  outline: none;
  box-shadow: none;
  color: var(--g-color-heading);
  height: var(--g-input-height);
  line-height: var(--g-input-height);
}
.js-cart-bottom .form-control:focus,.js-cart-bottom .form-control:active{
  border-color: var(--g-color-heading);
  box-shadow: 0 0 0 1px rgb(var(--g-color-heading-rgb)) inset;
}
.boxgif__wrap svg{
  width: 64px;
  height: 64px;
  fill: transparent;
}
.open-gift svg{
  width: 20px;
  height: 20px;
  margin-right:4px;
  fill:none;
}
.edit-notecart svg, .edit-discountcode svg, .js-open-addon svg{
  width: 19px;
  height: 19px;
  margin-right:4px;
  fill:none;
}
.cardraw .mini-cart-content{
  padding: 0 24px;
  cursor: auto;
}
.block-addon__box{
  cursor: pointer;
}
.mini-cart-content.overlay:before{
  content:"";
  width: 100%;
  height: 100%;
  background-color: rgba(255,255, 255, 0.8);
  position: absolute;
  z-index: 1;
  cursor:auto;
}
.giftwrap{
  font-family:var(--g-font-2);
}
.drawer-crossell-product .slick-arrow{
  top:-49px;
  transform: translateY(0) !important;
  box-shadow:none;
  width:30px;
  height:30px;
  border:1px solid rgba(var(--g-color-heading-rgb),0.1);
  background-color:transparent;
}
.drawer-crossell-product .slick-arrow:before{
  font-size:12px;
  font-weight:700;
}
.drawer-crossell-product .slick-next{
  right:0;
}
.drawer-crossell-product .slick-prev{
  right:38px;
  left:auto;
}
.card-coupon{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.card-coupon ul,.card-coupon ol{
  padding-left: 1rem;
}
.heading-coupon{
  cursor: pointer;
}
.heading-coupon .coupon-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 8px;
  right: 0;
}
.heading-coupon .coupon-icon i{
  font-size: 12px;
}
.heading-coupon.collapsed .coupon-icon i::before{
  content: "\e93d";
}
.heading-coupon .coupon-icon i::before{
  content: "\e92d";
}
.mini-cart-img{
  position: relative;
  overflow: hidden;
  background-color: var(--color-item-product);
}
.mini-cart-img.portrait {
  padding-top: var(--g-img-portrait) !important;
}
.mini-cart-img.square {
  padding-top: var(--g-img-square) !important;
}
.mini-cart-img.wide {
  padding-top: var(--g-img-wide) !important;
}
.mini-cart-img.landscape {
  padding-top: var(--g-img-landscape) !important;
}
.mini-cart-img.portrait img,.mini-cart-img.square img,.mini-cart-img.wide img,.mini-cart-img.landscape img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width:749px){
  .open-gift span, .edit-notecart span, .edit-discountcode span, .js-open-addon span{
    display:none;
  }
  .block-addon{
    justify-content:center;
  }
  .block-addon__box--wrap{
    padding:32px;
  }
}
.btn-close-addon.link, .link.cart-note-close{
  font-size: var(--g-font-size);
}