@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
  background-color: white;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
.v-col{
  margin-top: -2rem;
}

.AjaxinatePagination .btn{
  min-width: 140px;
}
.AjaxinatePagination .btn.active:before{
  background-color: white;
}
.AjaxinatePagination{
  position: relative;
}
.AjaxinatePagination .loader-line{
  width: 50px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--g-input-border);
  overflow: hidden;
}
.AjaxinatePagination .loader-line:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 200%;
  background-color: var(--g-color-heading);
  animation: lineAnim 3s linear infinite;
  border-radius: 0px;
}
.pagi-click{
  width: 280px;
  height: 4px;
  background-color: var(--g-input-border);
  position: relative;
}
.pagi-click .pagi-click-percent{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  background-color:  var(--g-color-heading);
}
.template-collection .page-container {
  overflow: inherit;
}
@media (min-width:992px){
  .js-stick-parent{
    position: sticky;
    top:calc(var(--height-header, 0px) + 24px);
  }
  .container-fluid.main-collection .v-col{
    flex: 0 0 320px;
    max-width: 320px;
  }
  .container-fluid.main-collection #ProductGridContainer.col-md-9{
    flex: 1 0 0;
    max-width: 100%;
  }
  .container-fluid.main-collection .facets-vertical-form{
    padding-left:calc(320px + 2.5rem)
  }
}

.product-grid{
  row-gap: var(--g-gutter);
}
